[run]
branch = True
parallel = True
source =
    checkmate
    tests/unit
omit =
    checkmate/migrations/*
    checkmate/pshell.py
    checkmate/scripts/init_db.py
    checkmate/_version.py

[report]
show_missing = True
precision = 2
fail_under = 100.00
skip_covered = True
