{% extends "wrapper.html.jinja2" %}

{% block title %}
    Content not available
{% endblock %}

{% macro how_to_access(request_access=False) %}
    <h2>To annotate this page</h2>

    <h3>Use our browser extension:</h3>

    <ol>
        <li>
            Follow the <a href="https://web.hypothes.is/start/" target="_blank">instructions
            on our homepage</a> to install our browser extension.
        </li>
        <li>
            Visit the page directly at
            <a href="{{ blocked_url | e }}" target="_blank">{{ blocked_url }}</a>
            and click on the extension icon to see the annotations.
        </li>

    </ol>

    {% if request_access %}
        <h3>Or get in contact:</h3>

        {% set email_subject %}Please allow access to '{{ domain_to_annotate | e }}'{% endset %}
        {% set email_body -%}
I'd like to access this page with Via:

* {{ blocked_url | e }}

I'd like to be able to access this site because ...

<Please give the reasons you'd like to access the site here>

Thanks!
        {%- endset %}
        <p>
            <a href="mailto:via@hypothes.is?subject={{ email_subject | urlencode }}&body={{ email_body | urlencode }}" target="_blank"
            >Email us</a>
            to let us know you'd like to annotate the page with Via.
        </p>
    {% endif %}

{% endmacro %}

{% macro bad_site_ahead() %}
    <p>
        <strong>Attackers</strong> on the site may trick you into doing
        something <strong>dangerous</strong> like installing software
        or revealing your personal information (for example, passwords,
        phone numbers or credit cards).
    </p>

    {# Do what we can to prevent the user from selecting the text #}
    <p
        style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
        unselectable="on"
        onselectstart="return false;"
        onmousedown="return false;"
    >
        Original URL: {{ blocked_url }}
    </p>
{% endmacro %}

{% block body_attrs %}
    {% if reason == "malicious" %}
         class="danger"
    {% endif %}
{% endblock %}

{% block content %}
    {% if reason == "malicious" %}
        {% set text = {
            "heading": "    <div class='icon danger'></div>Deceptive site ahead",
            "details": "This site is not available through Via because
             it might be hosting <strong>harmful</strong> content."
        } %}

    {% elif reason == "publisher-blocked" %}
        {% set text = {
            "heading": "Content not available",
            "details": "Unfortunately, the publisher of this page has requested
             that we disallow annotating it with Via. That means we can't show
             you the page you were looking for right away…"
        } %}

    {% elif reason == "not-explicitly-allowed" %}
        {% set text = {
            "heading": "Content cannot be annotated yet",
            "details": "Unfortunately, the contents of this page cannot be
                annotated with Via at this time."
        } %}

    {% else %}
        {% set text = {
            "heading": "Content cannot be annotated",
            "details": "Unfortunately, the contents of this page cannot be
            annotated with Via."
        } %}
    {% endif %}

    <!-- Block reason: {{ reason }} -->
    <header>
      <h1>{{ text.heading | safe }}</h1>
    </header>

    <article>
        <p>{{ text.details | safe }}</p>

        {% if reason == "malicious" %}
            {{ bad_site_ahead() }}
        {% else %}
            {{ how_to_access(request_access = (reason == "not-explicitly-allowed") ) }}
        {% endif %}
    </article>

{% endblock %}