{% extends "wrapper.html.jinja2" %}

{% block title %}
    Content not available
{% endblock %}

{% macro how_to_access(request_access=False) %}
    <h2>To annotate this page</h2>

    <p>Use our browser extension:</p>

    <ol>
        <li>
            Follow the <a href="https://web.hypothes.is/start/" target="_blank">instructions
            on our homepage</a> to install our browser extension.
        </li>
        <li>
            Visit the page directly at
            <a href="{{ blocked_url | e }}" target="_blank">{{ blocked_url }}</a>
            and click on the extension icon to see the annotations.
        </li>

    </ol>

    {% if request_access %}
        <p>
            Or <a href="https://web.hypothes.is/via-request/?subject={{ blocked_url | urlencode }}">
                let us know you'd like to annotate the page with {{ annotated_with }}.
            </a>
        </p>
    {% endif %}

{% endmacro %}

{% macro bad_site_ahead() %}
    <p>
        <strong>Attackers</strong> on the site may trick you into doing
        something <strong>dangerous</strong> like installing software
        or revealing your personal information (for example, passwords,
        phone numbers or credit cards).
    </p>

    {# Do what we can to prevent the user from selecting the text #}
    <p
        style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
        unselectable="on"
        onselectstart="return false;"
        onmousedown="return false;"
    >
        Original URL: {{ blocked_url }}
    </p>
{% endmacro %}

{% block body_attrs %}
    {% if reason == "malicious" %}
         class="danger"
    {% endif %}
{% endblock %}

{% block content %}
    {% if reason == "malicious" %}
        {% set text = {
            "heading": "    <div class='icon danger'></div>Deceptive site ahead",
            "details": "This site is not available through " + annotated_with + " because
             it might be hosting <strong>harmful</strong> content."
        } %}

    {% elif reason == "publisher-blocked" %}
        {% set text = {
            "heading": "Content not available",
            "details": "Unfortunately, the publisher of this page has requested
             that we disallow annotating it with " + annotated_with + "."
        } %}

    {% elif reason == "not-explicitly-allowed" %}
        {% set text = {
            "heading": "Content cannot be annotated yet",
            "details": "Unfortunately, the contents of this page cannot be
                annotated with " + annotated_with + " at this time."
        } %}

    {% else %}
        {% set text = {
            "heading": "Content cannot be annotated",
            "details": "Unfortunately, the contents of this page cannot be
            annotated with " + annotated_with + "."
        } %}
    {% endif %}

    {% if annotated_with == 'Via' %}
        <style>
            .decommission-banner {
                padding: 10px 15px;
                background: #fceedb;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                font-weight: bold;
                border: 1px solid #fbc168;
            }
        </style>
        <div class="decommission-banner">
          Access to Via is being restricted as of Monday, February 2nd, 2026. You can find information <a href="https://web.hypothes.is/blog/changes-to-via-hypothesis-proxy-server-for-annotation/" target="_blank">here</a>, and you can <a href="https://web.hypothes.is/get-help/" target="_blank">reach our team here</a>.
      </div>
    {% endif %}

    <!-- Block reason: {{ reason }} -->
    <header>
      <h1>{{ text.heading | safe }}</h1>
    </header>

    <article>
        <p>{{ text.details | safe }}</p>

        {% if reason == "malicious" %}
            {{ bad_site_ahead() }}
        {% else %}
            {% if display_how_to_access %}
                {{ how_to_access(request_access = (reason == "not-explicitly-allowed") ) }}
            {% endif %}
        {% endif %}
    </article>

{% endblock %}
