[MASTER]
jobs=0  # Speed up PyLint by using one process per CPU core.
load-plugins=pylint.extensions.bad_builtin,
             pylint.extensions.broad_try_clause,
             pylint.extensions.check_elif,
             pylint.extensions.comparetozero,
             pylint.extensions.docparams,
             pylint.extensions.emptystring,
             pylint.extensions.mccabe,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.redefined_variable_type,

# Fail if there are *any* messages from PyLint.
# The letters refer to PyLint's message categories, see
# https://pylint.pycqa.org/en/latest/messages/messages_introduction.html
fail-on=C,E,F,I,R,W

[MESSAGES CONTROL]
disable=invalid-name,
        missing-docstring,
        missing-type-doc,
        missing-return-type-doc,
        redefined-outer-name,
        too-few-public-methods,
        too-many-arguments,

        # We use Black to format our code automatically, so we don't need
        # PyLint to check formatting for us.
        line-too-long,

[REPORTS]
output-format=colorized
score=no

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=4

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes
