<!doctype html>
<html lang="en">
<head>
  <title>Checkmate Admin</title>
  <style>
      code {
          word-break: break-all;
      }

      nav ul {
          display: flex;
          list-style-type: none;
          padding: 0;
      }

      nav ul li {
          margin-right: 15px;
      }
  </style>
</head>
<body>

<nav>
  <ul>
    <li><a href="{{ request.route_url("admin.index") }}">Admin</a></li>
    <li><a href="{{ request.route_url("admin.allow_rule") }}">Allow Rule</a></li>
    <li><a href="{{ request.route_url("pyramid_googleauth.logout") }}">Logout</a></li>
  </ul>
</nav>

{% block content %}
{% endblock %}

</body>
</html>
