/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Basic element styling */

body {
  line-height: 1.5;
  background-color: #ececec;
  color: #333333;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;

  margin: 0 auto;
  max-width: 600px;
}

p, ol {
  font-size: 20px;
}

a {
  color: #333333;
}

a:hover {
  color: #000000;
}

/* Major page chunks */

header {
  padding: 40px 0 0 0;
}

article > p:first-child {
  padding-bottom: 20px;
}

footer {
  padding: 70px 0;
  text-align: center;
}

#footer-logo {
  display: inline-block;
  width: 24px;
  height: 28px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA4CAQAAAARWLNhAAABgUlEQVR42u2Yz0rDQBDGhwpKe6wUSXspepE+gGfv+gCtPaTv4EMIHrx7K0iepILXmQ2btAQECYmXnoSWStUYxNLdNmoKsyCab2677P6WbybZPwAwapCDESbMEZEzasDH9GP2yT+DxikiXX1iLsgBA+ZoRoHR6dMoAJsDQBHOC0ABKAB/APCCUzwX+3I7Kfm78kic4Q3NWAFkw4rcA7xlA9AAMhSWacAEcI8hU34zv1HfAr4WXhsGuCdMADwlF6c0o3txEewogD0WgDikZ+UIcrnsSbbojaNMr7QzzoNWYU8cZXqnAV6TEjfgUe8Ly8wAnJgGzP8PgELqeJZnUYdCAwAKZXXRLqs6ggfQ1mqvzQ7wLHWUZ7EDhnV11LDODhBd7Q/W5a+iKKgt2oOafin7adPP+x3EZPvNdKezMS6uUL8PYPoibvwpwfhjiPHnnDyifub6+sCluIJyDSDjCvBJtlYOABPZAl6JngoQPeDXMhOM7mdmgtf9tUzwu69nYlP33wEjM9swn4BymAAAAABJRU5ErkJggg==);
  background-size: 24px 28px;

  font-size:0;
}

/* Add exceptions for malicious view */

.icon.danger {
  display: block;
  height: 64px;
  margin-bottom:10px;
  background: url('../img/warning.svg');
  background-size: 64px 64px;
  background-position: center;
  background-repeat: no-repeat;
}

body.danger {
  color: white;
  background-color: #aa0000;
}

/* Responsive design */

@media (max-width: 800px) {
  body {
    padding: 1em 1em;
  }
  header {
    line-height: 1;
    padding: 0;
    font-size: 36px;
  }
  h1 {
    font-size: 48px;
  }
  p, li {
    font-size: 18px;
  }
}
