alembic
celery
google-auth-oauthlib
gunicorn
PyJWT
marshmallow-jsonapi
netaddr
newrelic
psycopg2
pyramid
pyramid_exclog
pyramid-jinja2
pyramid-services
pyramid_tm
requests
sqlalchemy
webargs
zope.sqlalchemy

h_pyramid_sentry
pyramid-sanity
